<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>Register</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>행 추가하기</h2>
                    <button class="btn btn-primary mb-3" id="addRowBtn">행 추가</button>
                    <div class="row mb-2">
                        <div class="col-2">제품번호</div>
                        <div class="col-2">거래처</div>
                        <div class="col-2">수량</div>
                        <div class="col-2">입고일</div>
                        <div class="col-2">상태</div>
                        <div class="col-2">비고</div>
                    </div>
                </div>
                    <!-- 행을 추가할 영역 -->
                    <div id="rowContainer">
                        <div class="row mb-2">
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>


<script layout:fragment="script" th:inline="javascript">



    // 버튼 클릭 시 새로운 행을 추가하는 JavaScript
    document.getElementById('addRowBtn').addEventListener('click', function() {
      var rowContainer = document.getElementById('rowContainer');

      // 새로운 행을 추가
      var newRow = document.createElement('div');
      newRow.classList.add('row', 'mb-2');
      newRow.innerHTML = `
         <div class="col-2">
            <input type="text" id="productCode" name="productCode" class="form-control" readonly>
            <button type="button" class="btn btn-outline-secondary" onclick="openProductPopup();">Search</button>
        </div>
        <div class="col-2">
            <input type="text" id="supplierId" name="supplierId" class="form-control" required readonly>
            <button type="button" class="btn btn-outline-primary" onclick="openSupplierPopup();">Search</button>
        </div>
        <div class="col-2"><input type="text" name="quantity" class="form-control" required placeholder=""></div>
        <div class="col-2"><input type="datetime-local" name="outboundDate" class="form-control" required></div>
        <div class="col-2"><select id="inboundStatus" name="inboundStatus">
                                <option value="PENDING">PENDING</option>
                                <option value="COMPLETED">COMPLETED</option>
                                <option value="CANCELED">CANCELED</option>
                            </select>
        </div>
        <div class="col-2">
            <input type="text" name="description" class="form-control" placeholder="Write here" required>
        </div>
      `;
      rowContainer.appendChild(newRow);
    });


</script>
