<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Supplier Modify</title>
</head>
<body>
<div th:fragment="selectedSupplier">
    <div class="card">
        <div class="card-header">
            정보변경
        </div>
        <div class="card-body">
            <form th:action="@{/mes/supplier/modify}" method="post" id="modifyForm">
                <div class="input-group mb-3">
                    <span class="input-group-text">ID</span>
                    <input type="text" class="form-control" name=SupplierId th:value="${selectedSupplier.supplierId}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">거래처명</span>
                    <input type="text" class="form-control" name=SupplierName th:value="${selectedSupplier.supplierName}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">전화번호</span>
                    <input type="text" class="form-control" name=SupplierInfo th:value="${selectedSupplier.supplierInfo}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">등록일</span>
                    <input type="text" class="form-control" th:value="${#temporals.format(selectedSupplier.regDate, 'yyyy-MM-dd')}" readonly disabled>
                </div>
                <div class="my-4">
                    <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                        <a th:href="|@{/mes/supplier/list}?${link}|" class="text-decoration-none">
                            <button type="button" class="btn btn-outline-dark">목록</button>
                        </a>
                        <button type="submit" class="btn btn-dark">수정</button>
                        <button type="button" class="btn btn-danger removeBtn"
                                th:attr="data-supplier-id=${selectedSupplier.supplierId}">삭제</button>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>