<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/popup.html}">
<div layout:fragment="content">

  <div class="row mt-3">

    <div class="col">
      <div class="card">
        <div class="card-header">
          공급자
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">거래처</th>
              <th scope="col">거래처 Tel</th>
              <th scope="col">사명</th>
              <th scope="col">등록일</th>
              <th scope="col">수정일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="supplier : ${supplierList}">
              <td th:text="${supplier.supplierId}"></td>
              <td th:text="${supplier.supplierInfo}"></td>
              <td th:text="${supplier.supplierName}"></td>
              <td th:text="${#temporals.format(supplier.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
              <td th:text="${#temporals.format(supplier.modDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
              <td>
                <button type="button" th:attr="onclick='selectProduct(\'' + ${supplier.supplierId} + '\')'">
                  Select
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>



</div>
<script layout:fragment="script" th:inline="javascript">
  function selectProduct(supplierId) {
            // 부모 창에 데이터 전달
            opener.postMessage({ supplierId: supplierId}, opener.location.origin);
            close(); // 팝업 닫기
        }
</script>

</html>