<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품 등록</title>
</head>
<body>
<div th:fragment="selectedStock">
    <div class="card">
        <div class="card-header">
            상세정보
        </div>
        <div class="card-body">
            <input type="hidden" name="selectedStockId" th:value="${selectedStock.stockId}">
            <div class="input-group mb-3">
                <span class="input-group-text">제품코드</span>
                <input type="text" class="form-control" th:value="${selectedStock.productCode}" readonly disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">현재수량</span>
                <input type="text" class="form-control" th:value="${selectedStock.currentStock}" readonly disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">재고 등록일</span>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(selectedStock.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">수량 수정일</span>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(selectedStock.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly disabled>
            </div>

            <div class="my-4">

                <div class="float-start" th:with="link = ${pageRequestDTO.getLink()}">
                    <a th:href="@{/mes/inbound/list}" class="text-decoration-none">
                        <button type="button" class="btn btn-dark">입고</button>
                    </a>
                    <a th:href="@{/mes/outbound/list}" class="text-decoration-none">
                        <button type="button" class="btn btn-secondary">출고</button>
                    </a>
                </div>


                <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                    <a th:href="|@{/mes/stock/list}?${link}|" class="text-decoration-none">
                        <button type="button" class="btn btn-dark">목록</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
