<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>출고 등록</title>
</head>
<body>
<div th:fragment="register">
  <div class="card">
    <div class="card-header">
      출고 등록
    </div>
    <div class="card-body">
      <form th:action="@{/mes/outbound/register}" method="post">

        <div th:in="${selectedStock != null}">
          <input type="hidden" name="stockId" th:value="${selectedStock.stockId}">
          <input type="hidden" name="productCode" th:value="${selectedStock.productCode}">

          <div class="input-group mb-3">
            <span class="input-group-text">제품코드</span>
            <input type="text" class="form-control" th:value="${selectedStock.productCode}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">현재재고</span>
            <input type="text" class="form-control" th:value="${selectedStock.currentStock}" readonly>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">출고수량</span>
          <input type="number" id="minus" name="minus" class="form-control" required min="1">
        </div>

        <div class="my-4">
          <div class="float-end">
            <button type="submit" class="btn btn-dark">등록</button>
            <button type="button" onclick="location.href='/mes/stock/list'" class="btn btn-secondary">목록</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
</body>
</html>